@import '../../../styles/variables';

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page {
  &.initiate {
    box-sizing: border-box;
    margin-bottom: 10vh;
    width: 400px;

    @media all and (max-width: 425px) {
      width: 100vw;
    }

    .header {
      z-index: 99;
    }

    .messages {
      display: flex;
      justify-content: center;
      transition: .3s opacity, .3s transform;
    }

    .copyright {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 30px;

      span {
        color: $color-second;
        font-size: .8rem;

        @media all and (max-width: 425px) {
          color: rgba(255,255,255,.3)
        }
      }

      .gitlab-logo {
        .cls-1{
          fill:#fc6d26;
        }
        .cls-2{
          fill:#e24329;
        }
        .cls-3{
          fill:#fca326;
        }
      }
    }
  }
}
