@import '../../../styles/variables';

.messages-list {
  background-color: white;
  border-radius: 55px;
  box-shadow: 0 0 0 6px black;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: relative;

  @media all and (max-width: 425px) {
    width: 90vw;
  }

  .slider {
    background-color: $color-gray;
    border-radius: 5px;
    bottom: 10px;
    font-size: 0;
    height: 5px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 50%;
  }

  .phone {
    align-self: center;
    margin-top: -1px;
  }

  .message {
    margin-top: 4px;
    max-width: 80%;

    .username {
      color: $color-second;
      font-size: .8rem;
      font-weight: bold;
      margin-top: 15px;
      padding: 4px 10px;
    }

    .message-cloud {
      padding: 8px 15px;
    }

    &:first-of-type {
      margin-top: 0;

      .username {
        margin-top: 0;
      }
    }

    &.direction-from {
      align-items: flex-start;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      margin-left: 16px;

      &.withUsername .message-cloud {
        border-radius: 16px 16px 16px 0;
      }

      .message-cloud {
        background-color: $color-message-from;
        border-radius: 0 16px 16px 0;
        color: black;
      }
    }

    &.direction-to {
      align-items: flex-end;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      margin-right: 16px;

      &.withUsername .message-cloud {
        border-radius: 16px 16px 0 16px;
      }

      .message-cloud {
        background-color: $color-message-to;
        border-radius: 16px 0 0 16px;
        color: white;
      }
    }

    &.emoji {
      .message-cloud {
        font-size: 1.5rem;
      }
    }
  }

  .input {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: center;
    padding: 0 16px;

    span {
      color: $color-gray;
      font-size: 1.1rem;
      text-align: center;
    }
  }
}
