html, body {
  margin: 0;
  padding: 0;
}

@import 'variables';
@import 'fonts';

body {
  background-color: $color-light;
  font-family: 'Roboto';
  font-size: 16px;

  @media all and (max-width: 425px) {
    background-color: $color-main;
  }
}
