@import '../../../styles/variables';

.header {
  background-color: $color-main;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0,0,0,.6);
  color: white;
  margin-top: 14vh;
  padding: 0;
  position: relative;
  text-align: center;
  transition: transform .3s;

  @media all and (max-width: 425px) {
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
  }

  .buttons {
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    box-sizing: border-box;
    display: flex;
    left: 0;
    padding: 15px;
    width: 100%;

    .button {
      border-radius: 12px;
      font-size: 0;
      height: 12px;
      margin-left: 8px;
      width: 12px;

      &:first-of-type {
        margin-left: 0;
      }

      &.close {
        background-color: #da4141;
      }

      &.expand {
        background-color: #daca41;
      }

      &.turn {
        background-color: #79c25d;
      }
    }
  }

  .profile {
    padding: 20px;
  }

  .userpic {
    margin-top: -100px;

    @media all and (max-width: 425px) {
      margin-top: 0;
    }

    img {
      border-radius: 50px 50px 0 50px;
    }
  }

  .title {
    font-family: 'Lobster';
    font-size: 2rem;
  }

  .subtitle {
    font-size: .8rem;
    opacity: .5;
  }
}